services:
  db:
    image: postgres:17.5-alpine3.21
    container_name: db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: challenge_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - challenge-network
  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672" # Porta AMQP (conexão dos serviços)
      - "15672:15672" # Porta Web Management (interface visual)
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - challenge-network

  auth-service:
    container_name: auth-service
    build:
      context: ./apps/auth-service
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
      - PORT=3002
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=password
      - DB_DATABASE=challenge_db
      - JWT_SECRET=junglechallengsecretjwt
      - JWT_EXPIRES_IN=15m
      - JWT_REFRESH_SECRET=junglechallengsecretjwtrefresh
      - JWT_REFRESH_EXPIRES_IN=7d
      - RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - challenge-network

    # API Gateway

    # Tasks Service
  
  tasks-service:
    container_name: tasks-service
    build:
      context: ./apps/tasks-service
      dockerfile: Dockerfile
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=production
      - PORT=3003
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=password
      - DB_DATABASE=challenge_db
      - RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
      - TASKS_QUEUE=tasks_queue
      - EVENTS_QUEUE=events_queue
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - challenge-network

  api-gateway:
    container_name: api-gateway
    build:
      context: ./apps/api-gateway
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
      - JWT_SECRET=junglechallengsecretjwt
      - JWT_EXPIRES_IN=15m
      - JWT_REFRESH_SECRET=junglechallengsecretjwtrefresh
      - JWT_REFRESH_EXPIRES_IN=7d
      - RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
      - AUTH_QUEUE=auth_queue
      - TASKS_QUEUE=tasks_queue
      - NOTIFICATIONS_QUEUE=notifications_queue
      - EVENTS_QUEUE=events_queue
      - CORS_ORIGIN=http://localhost:3000
    depends_on:
      rabbitmq:
        condition: service_healthy
      auth-service:
        condition: service_started
      tasks-service:
        condition: service_started
    networks:
      - challenge-network

  notifications-service:
    container_name: notifications-service
    build:
      context: ./apps/notifications-service
      dockerfile: Dockerfile
    ports:
      - '3004:3004'
    environment:
      - NODE_ENV=production
      - PORT=3004
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=password
      - DB_DATABASE=challenge_db
      - RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
      - EVENTS_QUEUE=events_queue
      - JWT_SECRET=junglechallengsecretjwt
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - challenge-network

  web:
    container_name: web
    build:
      context: ./apps/web
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=http://localhost:3001/api
        - VITE_WS_URL=ws://localhost:3004
    ports:
      - "3000:3000"
    depends_on:
      api-gateway:
        condition: service_started
    networks:
      - challenge-network

volumes:
  postgres_data:
    driver: local
  rabbitmq_data:
    driver: local

networks:
  challenge-network:
    driver: bridge
